body {
	padding: 0 0 0 0;
	background-color: #5f5f5f;
}

.cabeca {
	background-color: red;
	display: inline;
}

.cabeca p {
	display: inline;
}

.conteudo {
	
}

.botao_pedido{
	background-color: red;
}

.footer {
	background-color: yellow;
}